    * {
      -webkit-tap-highlight-color: transparent;
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    }

    body {
      margin: 0;
      background: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      max-height:100%;
      width: 90%;
      max-width: 400px;
      background: #fff;
      padding: 32px;
      border-radius: 16px;
      box-shadow: 0 8px 24px rgba(0,0,0,0.08);
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .container h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      color: #333;
    }

    .userInput {
      width: 100%;
      padding: 14px 16px;
      font-size: 16px;
      border-radius: 12px;
      border: 1px solid #ccc;
      transition: all 0.2s;
    }

     .userInput:focus {
      border-color: #000;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
      outline: none;
    }
    
     button {
     font-size: 17px;
     padding: 1em 2.7em;
     font-weight: 500;
     background: #1f2937;
     color: white;
     border: none;
     position: relative;
     overflow: hidden;
     border-radius: 0.6em;
     cursor: pointer;
 }

    button:hover .transition {
     width: 14em;
     height: 14em;
   }

    button:active {
     transform: scale(0.97);
   }

    .result {
      font-size: 18px;
      color: #555;
      margin-top: 8px;
      min-height: 24px;
    }